<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<!-- 视口设置 -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<!-- 引入bootstrap的css文件 -->
	<link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.css">
</head>
<body ng-controller="Controller">
		
	<div class="container">		
		<div class="row">			
			<!-- 左侧区域开始 -->
			<div class="col-md-3">
				
			</div>
			<!-- 左侧区域结束 -->
			<!-- 右侧区域开始 -->
			<div class="col-md-8">
				<h3 class="page-header">增加新库存</h3>
				<!-- 表单开始 -->
				<form class="form-horizontal">
					<div class="form-group">
						<label for="" class="col-sm-2">货物名称</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入货物名称" name="cargoName" class="form-control" ng-model="cargoName">
						</div>				
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2">货物描述</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入货物描述" name="cargoDesc" class="form-control" ng-model="cargoDesc">
						</div>				
					</div>
                    <div class="form-group">
						<label for="" class="col-sm-2">货物价格</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入货物价格" name="cargoPrice" class="form-control" ng-model="cargoPrice">
						</div>				
					</div>
                    <div class="form-group">
						<label for="" class="col-sm-2">货物数量</label>
						<div class="col-sm-8">
							<input type="text" placeholder="请输入货物数量" name="cargoNum" class="form-control" ng-model="cargoNum">
						</div>				
					</div>	
					<div class="form-group">				
						<div class="col-sm-8 col-sm-offset-2">
							<input type="button" value="提交表单" class="btn btn-primary" ng-click="add();">
						</div>				
					</div>
				</form>
				<!-- 表单结束 -->
			</div>
			<!-- 右侧区域结束 -->
		</div>
	</div>

	<!-- 引入jquery的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/jquery.js"></script>
	<!-- 引入bootstrap的js文件 -->
	<script type="text/javascript" src="js/bootstrap/js/bootstrap.js"></script>	
	<!-- 引入angularjs的js文件 -->
	<script type="text/javascript" src="js/angularjs/angular.js"></script>
	<!-- 引入全局配置js -->
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript">

		// 创建模块
		var myApp = angular.module('myApp',[]);

		//发送post请求必须要设置修改请求报头为x-www-form-urlencoded，否则以json字符串形式发送到服务器端!!!
		myApp.config(function($httpProvider) {
		    $httpProvider.defaults.headers.put['Content-Type'] = 'application/x-www-form-urlencoded';
		    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
		 
		    // Override $http service's default transformRequest
		    $httpProvider.defaults.transformRequest = [function(data) {
		        /**
		         * The workhorse; converts an object to x-www-form-urlencoded serialization.
		         * @param {Object} obj
		         * @return {String}
		         */
		        var param = function(obj) {
		            var query = '';
		            var name, value, fullSubName, subName, subValue, innerObj, i;
		 
		            for (name in obj) {
		                value = obj[name];
		 
		                if (value instanceof Array) {
		                    for (i = 0; i < value.length; ++i) {
		                        subValue = value[i];
		                        fullSubName = name + '[' + i + ']';
		                        innerObj = {};
		                        innerObj[fullSubName] = subValue;
		                        query += param(innerObj) + '&';
		                    }
		                } else if (value instanceof Object) {
		                    for (subName in value) {
		                        subValue = value[subName];
		                        fullSubName = name + '[' + subName + ']';
		                        innerObj = {};
		                        innerObj[fullSubName] = subValue;
		                        query += param(innerObj) + '&';
		                    }
		                } else if (value !== undefined && value !== null) {
		                    query += encodeURIComponent(name) + '='
		                            + encodeURIComponent(value) + '&';
		                }
		            }
		 
		            return query.length ? query.substr(0, query.length - 1) : query;
		        };
		 
		        return angular.isObject(data) && String(data) !== '[object File]'
		                ? param(data)
		                : data;
		    }];
		});


		// 创建控制器
		myApp.controller('Controller',function($scope,$http){

			// 增加功能
			$scope.add = function() {

				var url = URL + '/AddCargoServlet';

				// post请求的快捷方法
				var promise = $http.post(url,{					
					cargoName:$scope.cargoName,
					cargoDesc:$scope.cargoDesc,
                    cargoPrice:$scope.cargoPrice,
                    cargoNum:$scope.cargoNum
				});

				promise.success(function(){
					alert('增加货物成功');	
					location.href = 'QueryCargo.html';								
				});

				promise.error(function(data,status,headers,config) {
					alert('请求失败' + status);
				});

			}
			
		});

	</script>
</body>
</html>